:root {
    --dark-purple: #2A2438; /* Màu tím đậm */
    --deep-indigo: #352F44; /* Màu lam đậm */
    --slate-gray: #5C5470; /* Màu xám nhạt */
    --lavender: #DBD8E3; /* Màu oải hương */

    --header-height: 64px; 
    --footer-height: 53px; 
 
}
.cursor-pointer {
    cursor: pointer;
}
.display-none{
    display: none;
}
